@layout TelerikLayout
@inherits LayoutComponentBase


<AppBar @bind-Open="@openDrawer" />
<NavMenu Open="@openDrawer" />
<ReadAccess>
    <MenuBar />
    <div class="body-content">
        @Body
    </div>
</ReadAccess>


@code {
    bool openDrawer = false;
}

<style>
    .body-content {
        padding: 1.25rem;
        width: 100%;
        height: calc(100vh - 132px);
        overflow: auto;
    }
</style>