@layout TelerikLayout
@inherits LayoutComponentBase


<AppBar @bind-Open="@AppState.OpenDrawer" />
<NavMenu @bind-Open="@AppState.OpenDrawer" />
<ReadAccess>
    <MenuBar />
    <div class="body-content">
        @Body
    </div>
</ReadAccess>

<TelerikMediaQuery Media="(max-width: 768px)" OnChange="@( (bool mobileView) => OnMobileViewChanged(mobileView) )"></TelerikMediaQuery>

@code {
    [CascadingParameter] AppState AppState { get; set; }

    void OnMobileViewChanged(bool mobileView)
    {
        AppState.MobileView = mobileView;
    }
}

<style>
    .body-content {
        padding: 1.25rem;
        width: 100%;
        height: calc(100vh - 132px);
        overflow: auto;
    }
</style>