@layout TelerikLayout
@inherits LayoutComponentBase


<AppBar @bind-Open="@openDrawer" />
<NavMenu Open="@openDrawer" />
<MenuBar />
<div class="body-content">
    @Body
</div>
<TelerikLoader Type="LoaderType.Pulsing" Size="LoaderSize.Large" Visible="@SessionData.Loading" />

@code {
    bool openDrawer = false;
}
