@if (readAccess)
{
    <div>
        @ChildContent
    </div>
}
else
{
    <div>
        NoAccess
    </div>
}


@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [CascadingParameter] public AppState AppState { get; set; }

    bool readAccess = false;

    protected override void OnParametersSet()
    {
        if (SessionData.CurrentUserMenuAccessList != null && SessionData.CurrentUserMenuAccessList.Count > 0)
        {
            var _readAccess = SessionData.CurrentUserMenuAccessList.Where(e => e.MenuId == SessionData?.PageId);
            if (_readAccess != null) { readAccess = _readAccess.FirstOrDefault().ReadAccess; }
        }
        else
        {
            readAccess = false;
        }
    }
}
