@inherits LayoutComponentBase
@implements IDisposable
@inject AuthenticationStateProvider AuthenticationStateProvider

<HeadContent>
    <link rel="stylesheet" href="@($"/css/kendo/{SessionData.CurrentUser?.Theme}.css")">
</HeadContent>


<MudThemeProvider IsDarkMode="@(SessionData.CurrentUser?.Theme == "dark")" />
<MudSnackbarProvider />
<MudDialogProvider FullWidth="false"
                   MaxWidth="MaxWidth.Large"
                   CloseButton="true"
                   DisableBackdropClick="true"
                   NoHeader="false"
                   Position="DialogPosition.Center" />


<TelerikRootComponent>
    <CascadingValue Value="appState">
        <AuthorizeView>
            <Authorized>
                <div>
                    @Body
                </div>
            </Authorized>
            <NotAuthorized>
                <div>Loading...</div>
            </NotAuthorized>
        </AuthorizeView>
        <TelerikLoaderContainer Visible="@SessionData.Loading" />
    </CascadingValue>
</TelerikRootComponent>

@code {
    AppState appState;

    protected override async Task OnInitializedAsync()
    {
        SessionData.Loading = true;
        appState = new AppState(Snackbar, SessionData, PageData);
        appState.OnRefreshClick += Refresh;
        SessionData.CurrentUser = await Http.GetFromJsonAsync<AppUser>("AppUser");
        //SessionData.CurrentUserMenuAccessList = await Http.GetFromJsonAsync<List<UserMenuAccess>>("UserMenuAccess");
        SessionData.Loading = false;
    }

    async void Refresh()
    {
        await InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var _isAuthenticated = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var isAuthenticated = _isAuthenticated.User.Identity.IsAuthenticated;
        if (firstRender && !isAuthenticated)
        {
            NavigationManager.NavigateTo("Identity/Account/Login", true);
        }
    }

    void IDisposable.Dispose()
    {
        appState.OnRefreshClick -= Refresh;
    }
}