@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<TelerikButton>Click me</TelerikButton>

<div>@name</div>


@code{
    string name = "";
    protected override void OnInitialized()
    {
        name = SessionData.CurrentUser.UserName;
    }
}